:root {
  --primary-white: #fff;
}

/* =================== Navbar ========================= */
.logo22 {
  width: 2rem;
  height: 2rem;
}

.navbar-toggler-icon {
  color: #fff;
}
.linky {
  text-transform: uppercase;
  margin: 0 10px;
  color: #fff;
}
.linky:focus {
  border-top: 10px solid yellow;
}
.linky:hover {
  color: yellow;
}